<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOCIO</title>
    <link rel="shortcut icon" href="./images/socio.png" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
      :root {
          --main-color: #4a76a8;
      }
  
      .bg-main-color {
          background-color: var(--main-color);
      }
  
      .text-main-color {
          color: var(--main-color);
      }
  
      .border-main-color {
          border-color: var(--main-color);
      }
  </style>
  </head>
  <body>
</html>
