<%- include('../partials/header'); %>
<% if(dpImgUrl){ %>
    <%- include('../partials/navbarSigned', {dpImgUrl: dpImgUrl}); %>
<% } else{ %>  
    <%- include('../partials/navbar'); %>
<% } %>

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<%- include('../partials/footer'); %>
